*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Bahnschrift SemiCondensed;
}

header{
    background-image:linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(Image/building-8534894_1280.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.Logo a{
    color: #000000;
    padding: 0px 20px;
    border: 1px solid #ffffff;
    position: absolute;
    top: 10px;
    left: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 900;
    text-shadow: rgba(0, 0, 0, 0,7);
}

.Logo span{
    color: rgb(194, 194, 194);
    font-weight: bold;
    font-size: 2rem;
}

ul{
    list-style: none;
    float: right;
    display: flex;
    margin-top: 20px;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px ;
    text-transform: uppercase;
    border: 1px solid transparent;
    margin: 10px ;
    font-weight: 500;
    transition: 0.6s ease;
}

ul li a:hover{
    background: #ddacac;
    color: rgb(0, 0, 0);
}

ul li.active a{
    background: #ddacac;
    color: rgb(0, 0, 0);
}

.principale{
    max-width: 114rem;
    margin: 0 auto;
}

.titre{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

.titre h1{
    color: #ffffff;
    font-size: 70px;
}

.titre h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-family: Gabriola;
}

.bouton{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bouton a{
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #ffffff;
    padding: 10px 20px;
}

.btn{
    transition: 0.6 ease;
}

.btn:hover{
    background-color: #ddacac;
    color: black;
}